.advDiv {
    color: silver;
}

.adventure {
    width: 750px;
    height: 200px;
    display: flex;
    align-content: space-between;
    border: 2px solid silver;
    border-radius: 3px;
    margin: 20px auto;
}

.textWrapper {
    width: 250px;
    margin: 20px;
    z-index: 0;
}
.textWrapper p {
    margin-top: 5px;
}

.imgWrapper img {
    width: 300px;
    height: 196px;
    object-fit: cover;
}

.liWrapper {
    margin: 20px;
}

.joinBtn {
    color: rgb(173, 236, 193);
    font-family: 'IM Fell DW Pica', serif;
    font-size: 15px;
    margin-top: 50px;
    width: 130px;
    height: 30px;
    border: 2px solid rgb(173, 236, 193);
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    z-index: -1;
    background:
        linear-gradient(45deg, silver 50%, transparent 0) right /250% 100% no-repeat,
        linear-gradient(45deg, transparent 50%,silver 0) left /250% 100% no-repeat;
    transition: 0.3s;
}

.joinBtn:hover {
    background-position: center;
    color: black;
}