.advDiv {
    color: silver;
    margin: auto;
}

.adventure {
    width: 700px;
    height: 200px;
    display: flex;
    align-content: space-between;
    border: 2px solid silver;
    border-radius: 3px;
    margin: 20px auto;
}

.textWrapper {
    width: 250px;
    margin: 20px;
    z-index: 0;
}

.imgWrapper img {
    width: 300px;
    height: 195px;
    object-fit: cover;
}

.liWrapper {
    margin: 20px;
}

.joinBtn {
    color: skyblue;
    margin-top: 50px;
    width: 130px;
    height: 30px;
    border:1px solid skyblue;
    cursor: pointer;
    align-self: flex-end;
    z-index: -1;
}