.charCreatorMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 725px;
    color:silver;
    background-color: black;
    z-index: 1;
}

.charCreatorMain h2 {
    margin-top: 10px;
}

.charCreatorMain p {
    margin-bottom: 10px;
    font-size: 20px;
}