.charDetailsMain {
    height: 725px;
    padding: 30px 0px;
    font-size: 20px;
    color: silver;
}

.charDetailsHeaders {
    display: flex;
    justify-content: center;
}

.charDetailsHeaders * {
    margin: 20px 80px 0px 80px;
    position: relative;
    right: 20px;
}

.charDetailsForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.charDetailsForm section {
    margin: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charDetailsForm section * {
    margin: 5px;
}

.charDetailsForm input,
.charDetailsForm textarea {
    border: 1px solid silver;
    background-color: white;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 20px;
    width: 200px;
    padding: 3px;
    border-radius: 3px;
    resize: none;
}

.charDetailsForm textarea {
    height: auto;
}

#str, #dex, #int, #wis, #con, #cha {
    width: 35px;
}

select {
    background-color: white;
    font-family: 'IM Fell DW Pica', serif;
    border-radius: 3px;
    height: 35px;
    font-size: 20px;
    width: 200px;
}

.charDetailsButtons  {
    flex-direction: row !important;
    justify-content: center !important;
    width: 900px !important;
    margin: 30px !important;
}

.rollButton,
.saveButton {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.rollButton + label,
.saveButton + label {
    background:
    linear-gradient(45deg, silver 50%, transparent 0) right /250% 100% no-repeat,
    linear-gradient(45deg, transparent 50%,silver 0) left /250% 100% no-repeat;
    transition: 0.3s;
    text-align: center;
    border: 1px solid;
    color: silver;
    height: 33.78px;
    width: 200px;
    padding: 3px;
}

.rollButton + label:hover,
.saveButton +label:hover {
    background-position: center;
    color: black;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}