.myProfileDiv {
    color: silver;
    width: 750px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 2px solid silver;
    border-radius: 3px;
    margin: 20px auto;
}

.char {
    display: flex;
    align-content: space-between;
    height: 180px;
}

.charTextWrapper {
    width: 150px;
    margin: 20px;
    z-index: 0;
}
.charTextWrapper p {
    margin-top: 5px;
}

.charImgWrapper img {
    width: 250px;
    height: 160px;
    margin: 20px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 3px;
}

.attributesLiWrapper {
    margin: 20px 40px;
    width: 250px;
}

.charDetailsWrapper {
    display: flex;
}

.charDetailsWrapper p {
    width: 400px;
    margin: 20px;
}

.btn {
    color: silver;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
    width: 130px;
    height: 30px;
    border: 2px solid silver;
    border-radius: 3px;
    cursor: pointer;
    align-self: flex-end;
    z-index: -1;
    background:
        linear-gradient(45deg, silver 50%, transparent 0) right /250% 100% no-repeat,
        linear-gradient(45deg, transparent 50%,silver 0) left /250% 100% no-repeat;
    transition: 0.3s;
}

.btn:hover {
    background-position: center;
    color: black;
}

@media print {
    .myProfileDiv {
        background-color: black;
    }
}